<h1>Your bunked Lectures</h1>
<br/>
<table>
  <tr>
		<th>Id</th>
    <th>Date</th>
    <th>Schedule_id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	<% @bunklists.each do |bunklist| %>
  <tr>
 		<td><%= bunklist.id %></td>
 		<td><%= bunklist.date %></td>
 		<td><%= bunklist.schedule_id %></td>
  </tr>
<% end %>
</table>
<br />
