<% if !signed_in? %>
	<div class="center">
	<h1>Welcome to the BunkSheet</h1>
	<h2>Just sign up and Keep track of your Bunked Lectures</h2>
	<p>If You want to look inside without creating new account </br>
		 Use following details for login..!!!</br>
		 Email id => ab@gmail.com</br>
		 Password => 123456		
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>
<div class ="center">
<h1>Welcome,</h1>	
	<p>Here are few things you can do,</br>
	   First Create your time table
	</p>
</div>
<% end %>

