<% if !signed_in? %>
	<div class="center">
	<h1>Welcome to the BunkSheet</h1>
	<h2>Just sign up and Keep track of your Bunked Lectures</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>
	<div class="center">
	<h1>New User ? First create a Time Table </h1>
	<%= link_to "Create Time Table",signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

