<div class="center">
<h1>Welcome to the BunkSheet</h1>
<h2>Just sign up and Keep track of your Bunked Lectures</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
