<footer class="footer">
  <small>
    <a href="http://www.linkedin.com/in/vinaysawant">BunkSheet</a>
    by Vinay Sawant
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
